name: Upload coverage to Codacy

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server
        env:
          SA_PASSWORD: "AMoreComplexPsw123!"
          ACCEPT_EULA: "Y"
        ports:
          - 1433:1433
        options: >-
          --health-cmd "exit 0"
          --health-interval 10s
          --health-timeout 30s
          --health-retries 5

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build --configuration Release --no-restore

      - name: Run tests with coverage
        env:
          ConnectionStrings__DefaultConnection: "Server=localhost,1433;Database=master;User Id=sa;Password=AMoreComplexPsw123!;Trusted_Connection=False;MultipleActiveResultSets=true;TrustServerCertificate=True;"
          ServiceBusConnectionString: ${{ secrets.INTEGRATION_TESTS_SERVICE_BUS_CONNECTION_STRING }}
          AutomapperLicense: ${{ secrets.INTEGRATION_TESTS_AUTOMAPPER_LICENSE }}
          StorageAccountConnectionString: ${{ secrets.INTEGRATION_TESTS_STORAGE_ACCOUNT_CONNECTION_STRING }}
        run: dotnet test --configuration Release --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage/ --settings coverage.runsettings

      - name: Upload coverage to Codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          COBERTURA_FILES=$(find ./coverage -name coverage.cobertura.xml)
          if [ -z "$COBERTURA_FILES" ]; then
              echo "Coverage reports not found!"
              exit 1
          fi
          echo "Found coverage files:"
          echo "$COBERTURA_FILES"
          for file in $COBERTURA_FILES; do
              echo "Uploading: $file"
              bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r "$file"
          done
          echo "Notifying Codacy that all reports have been uploaded"
          bash <(curl -Ls https://coverage.codacy.com/get.sh) final
